<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "PhysioBaby",
  "image": "https://physiobaby.ro/assets/img/mihaela-terapeut.png",
  "@id": "https://physiobaby.ro",
  "url": "https://physiobaby.ro",
  "telephone": "0745782060",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Strada Teișorului Nou nr. 27, Corp B, Etaj 2",
    "addressLocality": "București",
    "postalCode": "030167",
    "addressCountry": "RO",
    "addressRegion": "Sector 3"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 44.4322,
    "longitude": 26.1062
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "08:00",
    "closes": "17:00"
  },
  "sameAs": [
    "https://www.facebook.com/physiobaby",
    "https://www.instagram.com/physiobaby"
  ]
}
</script>
